{% extends "network/layout.html" %}

{% block body %}
    

<br><br>
{% for post in posts %}
<div class="card" style="width: 64rem; margin: 0 0 20px 20px; border-radius: 8px; border-color: gainsboro;">
    <div class="card-body">
      <a href="/profile/{{post.user.id}}" id="usernamelink" style="text-decoration: none; color: black;">
          <h5 class="card-title">{{post.user.username}}</h5>
        </a>
      
        <p class="card-text" style="font-size:large;">{{post.text}}</p>

        <div style="display:inline-block;"><a href="#!" onclick="like('{{ post.id }}')" id="like_button" class="card-link" style="font-size:large; color: limegreen;">▲</a></div> 
        <div style="display:inline-block;"><p id="like_count{{post.id}}" class="card-text" style="font-size: larger;">{{post.likes}}</p></div>
        <div style="display:inline-block;"><a href="#!" onclick="unlike('{{ post.id }}')" id="dislike_button" class="card-link" style="font-size:large; color: red;">▼</a></div>

        <div style="display:inline-block; margin-left:44rem;"><h6 class="card-subtitle mb-1 text-muted">{{post.dateandtime}}</h6></div>
  
        {% if post.user_id == user.id %}
        <div style="display:inline-block; margin-left:28rem;"><button type="button" class="btn btn-outline-primary">Edit Post</button></div>
        {% endif %}
      
    </div>
  </div>
{% endfor %}

<br>
<div style="width: 64rem; margin: 0 0 20px 20px;">
  <div style="display: flex; justify-content: center;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">

        {% if first_page %}
        <li class="page-item disabled"><a class="page-link" href="{{previous_page}}">Previous</a></li>
        {% else %}
        <li class="page-item "><a class="page-link" href="{{previous_page}}">Previous</a></li>
        {% endif %}

        {% if last_page %}
        <li class="page-item disabled"><a class="page-link" href="following/page/{{next_page}}">Next</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="following/page/{{next_page}}">Next</a></li>
        {% endif %}

      </ul>
    </nav>
  </div>
</div>

<br><br><br>

<script>

function like(id) {

// console.log(post.likes)
fetch(`/like/${id}`, {
    method: "PUT",
    body: JSON.stringify({ like: true})
})
.then((response) => response.json())
.then(post => {
    document.querySelector(`#like_count${id}`).innerHTML = post.likes;

});

}

function unlike(id) {

// console.log(post.likes)
fetch(`/like/${id}`, {
    method: "PUT",
    body: JSON.stringify({ like: false })
})
.then((response) => response.json())
.then(post => {
    document.querySelector(`#like_count${id}`).innerHTML = post.likes;

});

}

function editpost(post_id) {

fetch(`/edit/${post_id}`, {
    method: "PUT",
    body: JSON.stringify({ request: body.textarea })
})
console.log(body)
.then((response) => response.json())
.then(post => {
    document.querySelector(`#${post.id}post_id`).innerHTML = post;

});

}

</script>


{% endblock %}
